*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.width{
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;

}
.h2-header{
  color: #00856F;
}
.header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color:#DCE9E2;
    padding: 1.5rem 0; 
    position: fixed;
    width: 100%;  
    z-index: 1;
}

.header-navegacao ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
    margin-right: 1rem;
    font-size: 17px;
    font-weight: 500;
    color: #00856F;
}

.header-navegacao ul, a{
  text-decoration: none;
  color: #00856F;
}

.header-menu img{
    margin-left: 6rem;
}
.header-link-consulta a{
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #00856F;
    padding: 0.5rem 0.9rem;
    border-radius: 25px;  
    margin-left: 4rem;
}
.header-navegacao a:hover{
   font-weight: bolder;
    border-bottom: 2px solid #00856F;
    padding-bottom: 0.7rem;
    transition: 0.2s;
}
.header-link-consulta a:hover{
  background-color: #00856F;
  color: #fff;
}

@media (min-width: 950px){
  .menu-faketrigger{
    display: none;
  }
  #style-link-hamburguer{
    display: block;
  }
}

@media (max-width: 950px){
  #style-link-hamburguer{
    display: none;
  }
  .header-navegacao {
    background-color: #00856F;
    justify-content: center;
    height: 100vh;
    width: 100%;
    display: none;
    position: absolute;
    top: 3.5rem;
    }
    .header-navegacao ul {
      margin-top: 5rem;
    }
  .header-menu{
    background-color: #00856F;
    padding-bottom: 2.5rem;
  }
  .active{
    display: block;
  }
  .h2-header{
    color: #fff;
  }
  .header-navegacao ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h2-header{
   position: absolute;
   left: 1rem;
   top: 1rem;
  }
.menu-faketrigger {
  top: 1.3rem;
  right: 1rem;
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 1000;
  opacity: 0;
 }

 .menu-faketrigger:checked~.menu-lines span:nth-child(1){
  transform-origin: 0% 0%;
  transform: rotate(40deg) scaleX(1.25);
}
 .menu-faketrigger:checked~.menu-lines span:nth-child(2){
 opacity: 0;
}

 .menu-faketrigger:checked~.menu-lines span:nth-child(3){
  transform-origin: 0% 100%;
  transform: rotate(-40deg) scaleX(1.25);
}

  .header-navegacao ul, li, a {
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem;
  }
#style-link-hamburguer {
    border-bottom: none;
    transition: 0.2s;
    color: #00856F;
    background-color: #fff;
    border-radius: 50px;
    padding: 0.4rem 0.7rem;
    text-transform: uppercase;
}

  .header-navegacao a:hover{
    font-weight: bolder;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.7rem;
    transition: 0.2s;
  }
 .menu-lines {
    position: absolute;
    right: 1rem;
    top: 1.4rem;
    z-index: 999;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
 .menu-lines span {
    display: block;
    width: 34px;
    height: 5px;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 3px;
    transition: all ease .2s;
  }

  
}

.main-intro{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 6rem;
  background-color: #DCE9E2;
}

.main-intro p{
  word-break: break-all;
  max-width: 57ch;
  font-size: 18px;
  color: #495057;
  margin-top: 1rem;
  line-height:28px;
}
.main-intro h4{
  color: #00856F;
  margin-bottom: 1.5rem;
}
.main-intro h1{
  font-size: 52px;
}
.main-link-consulta {
  background-color: #00856F;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0.1rem 0.8rem 0.1rem;
  align-items: center;
  max-width: 13rem;
  border-radius: 10rem;
  gap: 0.4rem;
  border-radius: 10rem;
  margin-top: 1.5rem;
  cursor: pointer;
}
.main-link-consulta a{
  color: #fff;
}
.main-link-consulta a:hover{
  font-weight: bolder;
  transition: 0.2s;
  padding: 0.1rem;
}
.main-link-consulta:hover {
  background-color: #027764;
}

.main-div-intro{
  margin-top: 4rem;
}
@media (max-width: 600px){
  .main-intro h4{
   font-size: 14px;
   text-align: center;
  }
  .main-div-intro {
   padding-top: 5rem;
  }
  .main-intro h1{
    font-size: 30px;
    text-align: center;
  }
  .main-intro p{
    font-size: 16px;
    line-height: 20px;
    word-break: break-all;
    max-width: 40ch;
    text-align: center;
  }
  .main-link-consulta {
     margin-left: 4.5rem;
  }
  .main-link-consulta a {
    font-size: 16px;
  }
   .main-img-mulher{
    margin-top: 3rem;
  }
  .main-div-intro{
    margin-top: 0.5rem;
  }

  
}
.sect-ajuda h4{
   color: #00856F;
   margin-bottom: 2rem;
}
.sect-ajuda h2{
  font-size: 40px;
  text-align: center;
  margin-bottom: 6rem;
  word-break: break-all;
  max-width: 21ch;
}
.sect-ajuda {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color:#dcdcdc;
  padding: 20.5rem 0 10rem 0;
  
}
.sect-div-1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 2rem;
}
.sect-divs {
  background: #fff;
  border: 1px solid #DCE9E2;
  border-radius: 4px;
  word-break: break-all;
  max-width: 32ch;
  padding: 1.5rem 2.5rem 2.5rem 1.5rem;
}
.sect-divs h3{
 font-size: 24px;
 margin-bottom: 0.9rem;
}
.sect-divs p {
  line-height: 25px;
}
.sect-divs img{
  margin-bottom: 0.5rem;
}

.infor-adicionais{
  display: flex;
  justify-content: center;
  gap: 11.5rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  border-radius: 3px;
  background: #fff;
  width: 1120px;
  margin-top: -3rem;
  margin-bottom: -6.3rem;

}
.infor-divs{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem 0;
}
.infor-divs p{
 font-size: 16px;
 color: #00856F;
 font-weight: 700;
}
.detalhe::before{
 content: "";
 display:block;
 position: absolute;
 height: 83px;
 width: 2px;
 left: 16.9rem;
 top: 1.7rem;
 background-color: rgba(0, 133, 111, 1) ;
 opacity: 0.5;
}
@media (max-width: 880px){
  .detalhe::before{
    display: none;
  }
  @media (max-width: 600px){
    .infor-adicionais{
      gap: 5rem;
      padding: 3rem 0;
      width: 360px;
      margin-bottom: -15rem;
      
    }
    .infor-divs {
      margin-right: 1rem;
    }
    .infor-divs h1{
      font-size: 48px;
    }
    .infor-divs p{
      font-size: 17px;
      margin-left: 1rem;
    }
  }
  @media (max-width: 876px){
    .infor-adicionais{
      padding: 2.5rem 0rem;
      gap: 5rem;
    }
  }
}

@media (max-width: 600px){
  .sect-ajuda h2{
    font-size: 30px;
  }
  .sect-ajuda {
    padding-bottom: 6rem;
  }
}
.sect-sobre-nos{ 
  background-color:#FFFAF1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 900px;
}
.sect-sobre-nos-div p{
 word-break: break-all;
 max-width: 65ch;
 line-height: 25px;
 color: #495057;
}
.sect-sobre-nos-div h1{
  word-break: break-all;
  max-width: 20ch;
  font-size: 40px;
  margin: 1rem 0  1rem 0;
}
.sect-sobre-nos-div h4 {
  color: #00856F;
}
@media (max-width: 600px){
  .sect-sobre-nos-div h1{
    font-size: 30px;
    margin-bottom: 2rem;
    line-height: 39px;
  }
  .sect-sobre-nos-div h4{ 
   margin-right: 17rem;
  }
  .sect-sobre-nos-div p{
    font-size: 16px;
    width: 22rem;
    line-height: 20px;
  }
  .sect-sobre-nos-div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .sect-sobre-nos {
   padding: 5rem 0;
   justify-content: center;
  }
  .sect-sobre-nos img{
     width: 367px;
     height: 300px;
  }
}
.sect-contatos{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 699px;
}
.sect-div-contatos h1{
  font-size: 40px;
  word-break: break-all;
  max-width: 15ch;
}
.divs-contatos {
 display: flex;
 align-items: center;
 gap: 0.5rem;
 margin: 1rem 0 1rem 0;
}
.divs-contatos p {
 font-size: 17px;
 color: #495057;
}
.sec-contato-link-consulta{
  background-color: #00856F;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0.1rem 0.8rem 0.1rem;
  align-items: center;
  max-width: 13rem;
  border-radius: 10rem;
  gap: 0.5rem;
}
.sec-contato-link-consulta a {
  color: #fff;
  font-size: 16px;
}
.sec-contato-link-consulta:hover {
  background-color: #027764;
}
.sec-contato-link-consulta a:hover{
  font-weight: bolder;
}
@media (max-width: 600px) {
  .sect-div-contatos h1{
    font-size: 40px;
    line-height: 39px;
  }
  .sect-contatos{
    padding: 5rem 0;
  }
  .div-img-contatos img{
    width: 367px;
    height: 250px;
  }

}

.final-pag{
  background-color: #00856F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 268px;
}
.final-pag-div{
 margin-left: 8rem;
}
.final-pag-div p{
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  margin-top: 1rem;
}
.final-pag-div2{
  display: flex;
  gap: 2rem;
  margin-right: 8rem;
}
@media (max-width: 600px) {
  .final-pag-div2{
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .final-pag-div{
    margin-left: 2rem;
    margin-top: 2rem;
   }
}