*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #DCE9E2;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.header-navegacao ul{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
    font-size: 17px;
    font-weight: 500;
    color: #00856F;
}
.header-navegacao ul, a{
  text-decoration: none;
  color: #00856F;
}
.header-menu img{
    margin-left: 3rem;
}
.header-link-consulta{
    margin-right: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #00856F;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
}
@media (max-width: 600px) {
    .header-link-consulta {
        padding: 0.3rem 0.3rem;
        font-weight: 500; 
        border: 1px solid #00856F;
        margin-top: 1rem;
        margin-left: 8rem;
    }
    .header-menu img{
      margin-left: 9.7rem;
    }
    .header-menu nav{
        margin-left: 3.5rem;
        margin-top: 2rem;
    }
  }
    @media (max-width: 600px) {
        .header-menu img {
            margin-left: 6rem;
          }
          .header-link-consulta{
            margin-left: 6rem;
            font-size: 12px;
            margin-top: 2rem;
            padding: 0.4rem;
          }
          .header-navegacao ul{
            font-size: 15px;
            gap: 0.7rem; 
          }
}

.main-intro{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top:2rem;
  background-color: #DCE9E2;
}
.main-intro p{
  word-break: break-all;
  max-width: 57ch;
  font-size: 18px;
  color: #495057;
  margin-top: 1rem;
  line-height:28px;
}
.main-intro h4{
  color: #00856F;
  margin-bottom: 1.5rem;
}
.main-intro h1{
  font-size: 52px;
}
.main-link-consulta {
  background-color: #00856F;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0.1rem 0.8rem 0.1rem;
  align-items: center;
  max-width: 13rem;
  border-radius: 10rem;
  gap: 0.2rem;
  border-radius: 10rem;
  margin-top: 1.5rem;
}
.main-link-consulta a{
  color: #fff;
}

.main-div-intro{
  margin-top: 4rem;
}
@media (max-width: 600px){
  .main-intro h4{
   font-size: 14px;
   text-align: center;
  }
  .main-intro h1{
    font-size: 30px;
    text-align: center;
  }
  .main-intro p{
    font-size: 16px;
    line-height: 20px;
    word-break: break-all;
    max-width: 40ch;
    text-align: center;
  }
  .main-link-consulta {
     margin-left: 4.5rem;
  }
  .main-link-consulta a {
    font-size: 16px;
  }
   .main-img-mulher{
    margin-top: 3rem;
  }
  .main-div-intro{
    margin-top: 0.5rem;
  }
  
}
.sect-ajuda h4{
   color: #00856F;
   margin-bottom: 2rem;
}
.sect-ajuda h2{
  font-size: 40px;
  text-align: center;
  margin-bottom: 6rem;
  word-break: break-all;
  max-width: 21ch;
}
.sect-ajuda {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color:#F7F9F9;
  padding: 18.5rem 0 10rem 0;
}
.sect-div-1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 2rem;
}
.sect-divs {
  background: #fff;
  border: 1px solid #DCE9E2;
  border-radius: 4px;
  word-break: break-all;
  max-width: 32ch;
  padding: 1.5rem 2.5rem 2.5rem 1.5rem;
}
.sect-divs h3{
 font-size: 24px;
 margin-bottom: 0.9rem;
}
.sect-divs p {
  line-height: 25px;
}
.sect-divs img{
  margin-bottom: 0.5rem;
}
.infor-adicionais{
  display: flex;
  justify-content: center;
  max-width: 1120px;
  gap: 3rem;
  flex-wrap: wrap;

}
.infor-divs{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 600px){
  .sect-ajuda h2{
    font-size: 30px;
  }
  .sect-ajuda {
    padding-bottom: 6rem;
  }
}
.sect-sobre-nos{
  background-color:#FFFAF1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 900px;
}
.sect-sobre-nos-div p{
 word-break: break-all;
 max-width: 65ch;
 line-height: 25px;
 color: #495057;
}
.sect-sobre-nos-div h1{
  word-break: break-all;
  max-width: 20ch;
  font-size: 40px;
  margin: 1rem 0  1rem 0;
}
.sect-sobre-nos-div h4 {
  color: #00856F;
}
@media (max-width: 600px){
  .sect-sobre-nos-div h1{
    font-size: 30px;
    margin-bottom: 2rem;
    line-height: 39px;
  }
  .sect-sobre-nos-div h4{ 
   margin-right: 17rem;
  }
  .sect-sobre-nos-div p{
    font-size: 16px;
    width: 22rem;
    line-height: 20px;
  }
  .sect-sobre-nos-div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .sect-sobre-nos {
   padding: 5rem 0;
   justify-content: center;
  }
  .sect-sobre-nos img{
     width: 367px;
     height: 300px;
  }
}
.sect-contatos{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 699px;
}
.sect-div-contatos h1{
  font-size: 40px;
  word-break: break-all;
  max-width: 15ch;
}
.divs-contatos {
 display: flex;
 align-items: center;
 gap: 0.5rem;
 margin: 1rem 0 1rem 0;
}
.divs-contatos p {
 font-size: 17px;
 color: #495057;
}
.sec-contato-link-consulta{
  background-color: #00856F;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0.1rem 0.8rem 0.1rem;
  align-items: center;
  max-width: 13rem;
  border-radius: 10rem;
  gap: 0.2rem;
}
.sec-contato-link-consulta a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
@media (max-width: 600px) {
  .sect-div-contatos h1{
    font-size: 40px;
    line-height: 39px;
  }
  .sect-contatos{
    padding: 5rem 0;
  }
  .div-img-contatos img{
    width: 367px;
    height: 250px;
  }

}

